In [1]:
# hypothesis_testing

# For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like. Note that some of the questions are intentionally phrased in a vague way. It is your job to reword these as more precise questions that could be tested.

**Null hypothesis:** $H_{0}$ the 'default', no difference, no change, no effect

**Alternate Hypothesis:** $H_{a}$ Generally what your hypothesis is, that there is a difference, an effect, etc.

# Has the network latency gone up since we switched internet service providers?

questions that come to mind:
- What is the mean of the network latency?
- What is the mean of the old network compared to a new network?
- is there a time period for measuring the network latency?

rephrase:
- Has there been an increase in network latency since switching internet service providers?


**Null hypothesis:** $H_{0}$ there has been no change to network latency in since switching service providers

**Alternate Hypothesis:** $H_{a}$ there has been an increase in network latency since switching service providers

**True Positive** We have predicted that yes we have an increase in the network latency from the alternate

**True Negative** If we did predict that there has not been an increase in the network latency

**Type I** Believing there is an increase in network latency when there is not

**Type II** Not believing there was an increase in network latency when there actually was

# Is the website redesign any good?

questions that come to mind:
- what website?
- what is the measure or value for 'any good'?
- was the website bad before?
- what did the redesign consits of? add/taken _away?

rephrase:
- Have the visits to the website increased since the redesign?

**Null hypothesis:** $H_{0}$ Visits to the redesigned website have remained consistant

**Alternate Hypothesis:** $H_{a}$ Visits to the redesigned website have increased

**True Positive** We have predicted that there an increase in visits to the redesined website

**True Negative** We did predict that the redesign was not good

**Type I** Believing that the redesign was good when it was not

**Type II** Not believing the redesign was good when it actually was

# Is our television ad driving more sales?

questions that come to mind:
- what where sales prior to the add?
- how long has the add been running?
- is there a sales goal from running the add?
- how are we measuring sales?
- what was the cost of the add in terms of sales / individual sale?
- Single or multiple products?

rephrase:
- in the past 6 months, have our "product a" sales increased due to our superbowl add?

**Null hypothesis:** $H_{0}$ television ads have no affect on sales in the last six months

**Alternate Hypothesis:** $H_{a}$ television ads have increase sales in the last six months

**True Positive** We have predicted tv ads have increased sales in the last six months

**True Negative** We did predict that tv ads have no affect on sales in the last six months

**Type I** Believing tv ads have increased sales in the last six months when they have not
**Type II** Not believing tv ads increased sales in the last six months when they actually have increased

# A type I error is when we reject the null hypothesis, but, in reality, the null hypothesis is true.
# A type II error is when we fail to reject the null hypothesis when it is actually false.

first type 1

second type 2

# T-Test Exercises

Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

In [2]:
## office 1
# 40 sales sample
# mean 90 days
# stdv 15 days
# .05 level of significance

In [ ]:
## office 2
# 50 sales
# mean 100 days
# stdv 20
# .05 level of significance

**Null hypothesis:** $H_{0}$ there is no difference in the average time it takes to sell homes for two offices

**Alternate Hypothesis:** $H_{a}$ there is a difference in the average time it takes to sell homes for two offices

In [5]:
from math import sqrt
from scipy import stats

%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [6]:
alpha = .05

In [7]:

xbar1 = 90
xbar2 = 100

n1 = 40
n2 = 50

s1 = 15
s2 = 20

degf = n1 + n2 - 2

s_p = sqrt(((n1 - 1) * s1**2 + (n2 - 1) * s2**2) / (n1 + n2 - 2))
s_p

standard_error = se = sqrt(s1**2 / n1 + s2**2 / n2)

t = (xbar1 - xbar2) / (s_p * sqrt(1/n1 + 1/n2))

In [8]:
t

-2.6252287036468456

In [13]:
p = stats.t(degf).cdf(t) * 2
print(f't = {t:.5f}')
print(f'p = {p:.5f}')

t = -2.62523
p = 0.01021

In [50]:
if p < alpha:
    print("We reject $H_{0}$")
else:
    print("We fail to reject $H_{0}$")

We reject $H_{0}$

## Load the mpg dataset and use it to answer the following questions:
- Is there a difference in fuel-efficiency in cars from 2008 vs 1999?
- Are compact cars more fuel-efficient than the average car?
- Do manual cars get better gas mileage than automatic cars?

In [36]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns
from pydataset import data

In [37]:
mpg = data('mpg')

In [38]:
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [51]:
mpg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 21.9+ KB

In [57]:
mpg.describe()

            displ         year         cyl         cty         hwy
count  234.000000   234.000000  234.000000  234.000000  234.000000
mean     3.471795  2003.500000    5.888889   16.858974   23.440171
std      1.291959     4.509646    1.611534    4.255946    5.954643
min      1.600000  1999.000000    4.000000    9.000000   12.000000
25%      2.400000  1999.000000    4.000000   14.000000   18.000000
50%      3.300000  2003.500000    6.000000   17.000000   24.000000
75%      4.600000  2008.000000    8.000000   19.000000   27.000000
max      7.000000  2008.000000    8.000000   35.000000   44.000000

In [67]:
mpg['mileage_difference'] = mpg.hwy - mpg.cty

In [68]:
mpg['average_mileage'] = (mpg.hwy + mpg.cty) / 2
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mileage_difference,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9,23.5
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8,25.0
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10,21.0
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8,22.0
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9,21.5

In [69]:
mpg.describe()

,displ,year,cyl,cty,hwy,mileage_difference,average_mileage
count,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000
mean,3.471795,2003.500000,5.888889,16.858974,23.440171,6.581197,20.149573
std,1.291959,4.509646,1.611534,4.255946,5.954643,2.262739,5.050290
min,1.600000,1999.000000,4.000000,9.000000,12.000000,2.000000,10.500000
25%,2.400000,1999.000000,4.000000,14.000000,18.000000,5.000000,15.500000
50%,3.300000,2003.500000,6.000000,17.000000,24.000000,7.000000,20.500000
75%,4.600000,2008.000000,8.000000,19.000000,27.000000,8.000000,23.500000
max,7.000000,2008.000000,8.000000,35.000000,44.000000,12.000000,39.500000

In [70]:
# Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

oh_eight = mpg[mpg.year == 2008]

**Null hypothesis:** $H_{0}$ there is no difference in fuel efficiency in cars from 2008 vs 1999

**Alternate Hypothesis:** $H_{a}$ there is a difference in fuel efficiency in cars from 2008 vs 1999

In [71]:
oh_eight.describe()

,displ,year,cyl,cty,hwy,mileage_difference,average_mileage
count,117.000000,117.0,117.00000,117.000000,117.000000,117.000000,117.000000
mean,3.662393,2008.0,6.08547,16.700855,23.452991,6.752137,20.076923
std,1.300645,0.0,1.65869,4.056211,5.847923,2.216342,4.908918
min,1.800000,2008.0,4.00000,9.000000,12.000000,3.000000,10.500000
25%,2.500000,2008.0,4.00000,13.000000,18.000000,5.000000,16.000000
50%,3.600000,2008.0,6.00000,17.000000,24.000000,7.000000,20.500000
75%,4.700000,2008.0,8.00000,20.000000,28.000000,8.000000,23.500000
max,7.000000,2008.0,8.00000,28.000000,37.000000,12.000000,32.500000

In [72]:
nine_nine = mpg[mpg.year == 1999]

In [74]:
nine_nine.describe()

,displ,year,cyl,cty,hwy,mileage_difference,average_mileage
count,117.000000,117.0,117.000000,117.000000,117.000000,117.000000,117.000000
mean,3.281197,1999.0,5.692308,17.017094,23.427350,6.410256,20.222222
std,1.260058,0.0,1.545079,4.458589,6.084628,2.304994,5.207937
min,1.600000,1999.0,4.000000,11.000000,15.000000,2.000000,13.000000
25%,2.200000,1999.0,4.000000,14.000000,17.000000,4.000000,15.500000
50%,3.000000,1999.0,6.000000,17.000000,25.000000,7.000000,21.000000
75%,4.000000,1999.0,6.000000,19.000000,26.000000,8.000000,22.500000
max,6.500000,1999.0,8.000000,35.000000,44.000000,12.000000,39.500000

In [75]:
nine_nine.average_mileage.mean()

20.22222222222222

In [83]:
mpg9 = (nine_nine.average_mileage.mean())
mpg8 = (oh_eight.average_mileage.mean())
print(mpg9)
print(mpg8)

20.22222222222222
20.076923076923077

In [81]:
t, p = stats.ttest_ind(mpg8, mpg9, equal_var = False)
t, p

(nan, nan)

In [85]:

xbar1 = mpg8
xbar2 = mpg9

n1 = 117
n2 = 117

s1 = 4.908918
s2 = 5.207937

degf = n1 + n2 - 2

s_p = sqrt(((n1 - 1) * s1**2 + (n2 - 1) * s2**2) / (n1 + n2 - 2))
s_p

standard_error = se = sqrt(s1**2 / n1 + s2**2 / n2)

t = (xbar1 - xbar2) / (s_p * sqrt(1/n1 + 1/n2))
t

-0.2196017761967334

In [87]:
p = stats.t(degf).cdf(t) * 2

print(f't = {t:.5f}')
print(f'p = {p:.5f}')

t = -0.21960
p = 0.82637

In [88]:
if p < alpha:
    print("We reject $H_{0}$")
else:
    print("We fail to reject $H_{0}$")

We fail to reject $H_{0}$

In [89]:
# Are compact cars more fuel-efficient than the average car?

mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mileage_difference,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0

**Null hypothesis:** $H_{0}$ there is no difference in fuel efficiency in compact cars vs avg cars

**Alternate Hypothesis:** $H_{a}$ there is a difference in fuel efficiency in compact cars vs avg cars

In [109]:
mpg['class'].nunique().

7

In [94]:
compact_car = mpg[mpg['class'] == 'compact']
compact_car.describe()

,displ,year,cyl,cty,hwy,mileage_difference,average_mileage
count,47.000000,47.000000,47.000000,47.00000,47.000000,47.000000,47.000000
mean,2.325532,2003.212766,4.595745,20.12766,28.297872,8.170213,24.212766
std,0.452274,4.539374,0.900714,3.38550,3.781620,1.324012,3.527446
min,1.800000,1999.000000,4.000000,15.00000,23.000000,5.000000,19.500000
25%,2.000000,1999.000000,4.000000,18.00000,26.000000,7.000000,22.000000
50%,2.200000,1999.000000,4.000000,20.00000,27.000000,8.000000,23.500000
75%,2.800000,2008.000000,6.000000,21.00000,29.000000,9.000000,25.250000
max,3.300000,2008.000000,6.000000,33.00000,44.000000,11.000000,38.500000

In [95]:
compact_car.average_mileage.mean()

24.21276595744681

In [110]:
non_compact = mpg[mpg['class'] != 'compact']
non_compact.average_mileage.mean()

19.128342245989305

In [113]:
compact_car.describe()

,displ,year,cyl,cty,hwy,mileage_difference,average_mileage
count,47.000000,47.000000,47.000000,47.00000,47.000000,47.000000,47.000000
mean,2.325532,2003.212766,4.595745,20.12766,28.297872,8.170213,24.212766
std,0.452274,4.539374,0.900714,3.38550,3.781620,1.324012,3.527446
min,1.800000,1999.000000,4.000000,15.00000,23.000000,5.000000,19.500000
25%,2.000000,1999.000000,4.000000,18.00000,26.000000,7.000000,22.000000
50%,2.200000,1999.000000,4.000000,20.00000,27.000000,8.000000,23.500000
75%,2.800000,2008.000000,6.000000,21.00000,29.000000,9.000000,25.250000
max,3.300000,2008.000000,6.000000,33.00000,44.000000,11.000000,38.500000

In [114]:
non_compact.describe()

,displ,year,cyl,cty,hwy,mileage_difference,average_mileage
count,187.000000,187.000000,187.000000,187.000000,187.000000,187.000000,187.000000
mean,3.759893,2003.572193,6.213904,16.037433,22.219251,6.181818,19.128342
std,1.274711,4.511500,1.588676,4.059198,5.780953,2.276361,4.863414
min,1.600000,1999.000000,4.000000,9.000000,12.000000,2.000000,10.500000
25%,2.500000,1999.000000,4.000000,13.000000,17.000000,4.000000,15.250000
50%,3.800000,2008.000000,6.000000,15.000000,22.000000,6.000000,18.500000
75%,4.700000,2008.000000,8.000000,18.000000,26.000000,8.000000,22.000000
max,7.000000,2008.000000,8.000000,35.000000,44.000000,12.000000,39.500000

In [118]:
xbar1 = compact_car.average_mileage.mean()
xbar2 = non_compact.average_mileage.mean()

n1 = 47
n2 = 187

s1 = 3.527446
s2 = 4.863414

degf = n1 + n2 - 2

s_p = sqrt(((n1 - 1) * s1**2 + (n2 - 1) * s2**2) / (n1 + n2 - 2))
s_p

standard_error = se = sqrt(s1**2 / n1 + s2**2 / n2)

t = (xbar1 - xbar2) / (s_p * sqrt(1/n1 + 1/n2))
t

6.731177515849165

In [119]:
p = stats.t(degf).sf(t) * 2

print(f't = {t:.5f}')
print(f'p = {p:.5f}')

t = 6.73118
p = 0.00000

In [120]:
p

1.3059128867632707e-10

In [121]:
if p < alpha:
    print("We reject $H_{0}$")
else:
    print("We fail to reject $H_{0}$")

We reject $H_{0}$

In [122]:
# Do manual cars get better gas mileage than automatic cars?

mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mileage_difference,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0

In [124]:
mpg.trans.nunique()

10

In [131]:
mpg["is_automatic"] = mpg.trans.str.contains("auto")
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mileage_difference,average_mileage,is_automatic
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5,True
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0,False
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5,False
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5,True
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0,True

In [132]:
mpg.trans = np.where(mpg.trans.str.startswith("auto"), "automatic", "manual")
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mileage_difference,average_mileage,is_automatic
1,audi,a4,1.8,1999,4,automatic,f,18,29,p,compact,11,23.5,True
2,audi,a4,1.8,1999,4,manual,f,21,29,p,compact,8,25.0,False
3,audi,a4,2.0,2008,4,manual,f,20,31,p,compact,11,25.5,False
4,audi,a4,2.0,2008,4,automatic,f,21,30,p,compact,9,25.5,True
5,audi,a4,2.8,1999,6,automatic,f,16,26,p,compact,10,21.0,True

In [146]:
manual_trans = mpg.trans == 'manual'
manual_trans.count()

234

In [147]:
auto_trans = mpg.trans == 'automatic'
auto_trans.count()

234

In [142]:
manual_trans.average_mileage.s

AttributeError: 'Series' object has no attribute 'average_mileage'

In [ ]:
xbar1 = manual_trans.mean()
xbar2 = auto_trans.mean()

n1 = manual_trans.count()
n2 = auto_trans.count()

s1 = 4.908918
s2 = 5.207937

degf = n1 + n2 - 2

s_p = sqrt(((n1 - 1) * s1**2 + (n2 - 1) * s2**2) / (n1 + n2 - 2))
s_p

standard_error = se = sqrt(s1**2 / n1 + s2**2 / n2)

t = (xbar1 - xbar2) / (s_p * sqrt(1/n1 + 1/n2))
t